/* цвет основного текста #757575 */
/* вторичный цвет rgba(117, 117, 117, 1) */

/* белый цвет #FFFFFF */
/* акцент #212121 */


:root {
    --primery-text-color: #757575;
    --title-text-color: #2196F3;
    --accent-color: #212121;
}

body {
    background-color: #ffffff;
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

}

/* WebStudio */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.accent1 {
    color: #212121;
}

/* Navigation */
ul {
    list-style: none;
}

.nav-studio,
.nav-portfolio,
.nav-contact {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail,
.tel {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-studio:hover {
    color: var(--title-text-color);
}

.mail:hover {
    color: var(--title-text-color);
}

.nav-portfolio,
.nav-contact,
.section-benefits, 
.section-to-do,
.section-team,
.section-name, 
.section-title {
    color: var(--accent-color);
}

/* Sections */

.section-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
}

.section-button {
    background-color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

.section-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}

.section-to-do,
.section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.main-title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.main-work {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

.button-list {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.marketing,
.design, 
.apps,
.all-web {
    cursor: pointer;
}

.button-all,
.section-button,
.footer-address {
    color: #ffffff;
    cursor: pointer;
}

.button-all {
    background: var(--title-text-color);
}

.button-all:hover {
    background: var(--primery-text-color);
}

/* Footer bg */

.footer-address,
.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}


.footer-contacts {
    color: rgba(255, 255, 255, 0.6);

}

.accent2 {
    color: #ffffff;
}

